:host {
  display: block;
  margin: 1rem 0;
}
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 0 0.5rem 0 0;
  padding: 0;
  display: inline-block;
  &:not(:last-child)::after {
    content: ">";
    padding: 0 0 0 0.5rem;
  }
  &:last-child {
    font-weight: bold;
  }
  &:first-child::before {
    content: "\2302";
    padding: 0 0.5rem 0 0;
  }
}
a,
.noHref {
  text-decoration: none;
  color: #3e3e3e;
}
