:host {
  display: inline-block;
}
.ds-progress {
  display: flex;
  background: linear-gradient(
    to bottom,
    #ffffff 45%,
    #bcbcbc 48%,
    #bcbcbc 51%,
    #ffffff 55%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  .step {
    flex: 0;
    border-radius: 50%;
    padding: 0.5rem 0.75rem;
    border: 1px solid gray;
    background: lightgray;
    margin: 0 1rem;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &.current {
      border: 1px solid black;
      background: green;
      color: white;
    }
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
